.jumbotron
  h1
    | Test de Creatividad

  p.lead
    <img src="/images/lampara.png" alt="Creatividad" height="200">
    br
    br
    | Completá el Test de Creatividad! y mirá tu nivel hoy para saber en qué áreas estas bien y en cuales estas mas débil para mejorarlo.

.row.col-sm-12
  .col-sm-10.col-sm-push-1.col-sm-pull-1.col-xs-11.col-xs-push-1.col-xs-9.col-xs-push-1.col-xs-pull-2(id='progress')
    .text-center(id='progressBar', style='width: {{questionPercent | number:2}}%;', ng-hide='questionPercent==0')
    span(id='progressPercentage', ng-hide='questionPercent==0', style='left: {{questionPercent | number:2}}%;')
      | {{questionPercent | number:0}}%
ul.row.col-sm-11.col-sm-push-1.list-unstyled
  li.col-sm-12.minHeight(id='li-{{question.number}}', ng-repeat='question in questionsTest', ng-class='{ hid: question.number > 0}')
    p.question {{question.number+1}} - {{question.name}}
    br
    div.col-sm-3.col-sm-push-4.col-xs-12
      ul.list-unstyled.width-center
        li(ng-repeat='valoration in valorations')
          label.radio-inline(ng-click='radioClick(question.number, valoration.number)')
            input(type='radio', id='answer{{question.number}}')
            span {{valoration.title}}
        br

.row.col-sm-11.col-sm-push-1(ng-show='resultByAreas.length > 0')
  p.center-block 
    b Resultado General:
    p {{resultMessage}}
  
  br
  
  p.center-block
    b Resultado por Áreas:
  .col-sm-6.col(ng-repeat = 'resultByArea in resultByAreas') 
    p.center-block
      b Area {{resultByArea.column}}
    p.center-block {{resultByArea.description}}
    p.center-block 
      b Resultado: 
      i {{resultByArea.result}}
    br

.row.col-sm-10.col-sm-offset-1
  p.center-block
    b 
      i {{importantMessage}}
  br  

.footer.col-sm-12
  p Realizado con los puntos del Test de Creatividad del libro "Agilmente"